data/slim_sims/
.snakemake/
msprime_sims/varying_nsamples_*json
data/phylofit/cds_region_mafs
data/phylofit/utr_region_mafs
data/phylofit/phastcons_region_mafs

# 
Bclib.cpython-39-x86_64-linux-gnu.so
bgspy.egg-info/
bgspy/__pycache__/
build/

# data stuff that's regeneratable
data/h1kg/hg1k_counts/
data/h1kg/logs/
data/annotation/DeCodeSexAveraged_GRCh36_liftedOverTo_Hg38.tar.gz
data/annotation/DeCodeSexAveraged_GRCh36_liftedOverTo_Hg38/
data/annotation/HapMapII_GRCh37_liftedOverTo_Hg38.tar.gz
data/annotation/HapMapII_GRCh37_liftedOverTo_Hg38/
data/annotation/HapmapII_GRCh37_RecombinationHotspots.tar.gz
data/annotation/Homo_sapiens.GRCh38.107.gff3.gz
data/annotation/cadd_whole_genome_SNVs.bed.gz
data/annotation/cadd_whole_genome_SNVs.npz
data/annotation/cadd_whole_genome_SNVs.tsv.gz
data/annotation/calc_bkgd_conserved/
data/annotation/conserved.bed.gz
data/annotation/conserved_cds_phastcons.bed.gz
data/annotation/conserved_cds_phastcons_merged.bed.gz
data/annotation/conserved_cds_phastcons_merged_chr10.bed
data/annotation/conserved_cds_utrs.bed.gz
data/annotation/conserved_cds_utrs_introns.bed.gz
data/annotation/conserved_cds_utrs_introns_phastcons.bed.gz
data/annotation/conserved_cds_utrs_introns_promoters2kb.bed.gz
data/annotation/conserved_cds_utrs_phastcons.bed
data/annotation/conserved_cds_utrs_phastcons.bed.gz
data/annotation/conserved_cds_utrs_phastcons_complement.bed
data/annotation/conserved_cds_utrs_phastcons_full.bed.gz
data/annotation/conserved_cds_utrs_phastcons_merged.bed.gz
data/annotation/conserved_cds_utrs_phastcons_merged_chr10.bed
data/annotation/conserved_cds_utrs_phastcons_simplified.bed.gz
data/annotation/conserved_cds_utrs_promoters2kb.bed.gz
data/annotation/conserved_cds_utrs_regulatory_phastcons.bed.gz
data/annotation/conserved_cds_utrs_regulatory_phastcons_complement.bed
data/annotation/conserved_cds_utrs_regulatory_phastcons_full.bed.gz
data/annotation/conserved_cds_utrs_regulatory_phastcons_simplified.bed.gz
data/annotation/conserved_old.bed.gz
data/annotation/conserved_phastcons.bed.gz
data/annotation/conserved_phastcons/
data/annotation/conserved_phastcons_chr10.bed
data/annotation/conserved_phastcons_exons_thresh0.bed.gz
data/annotation/conserved_phastcons_exons_thresh0_chr10.bed
data/annotation/conserved_phastcons_simplified.bed.gz
data/annotation/conserved_phastcons_thresh0.bed.gz
data/annotation/conserved_phastcons_thresh0/
data/annotation/conserved_phastcons_thresh0_chr10.bed
data/annotation/conserved_phastcons_thresh0_slop1k.bed.gz
data/annotation/conserved_phastcons_thresh471.bed.gz
data/annotation/conserved_phastcons_thresh471_slop1k.bed.gz
data/annotation/conserved_phastcons_thresh527.bed.gz
data/annotation/conserved_phastcons_thresh527_slop1k.bed.gz
data/annotation/decode_sex_averaged.txt
data/annotation/ensembl_cds_canonical_protein_coding.fa.gz
data/annotation/ensembl_cds_canonical_protein_coding_stats.tsv
data/annotation/ensembl_pseudogenes.bed.gz
data/annotation/gwas_catalog.tsv
data/annotation/hapmap/
data/annotation/hapmap_genetic_map.txt
data/annotation/hg38.ensembl.gff3.gz
data/annotation/hg38.ensembl_cds.bed.gz
data/annotation/hg38.ensembl_exons.bed.gz
data/annotation/hg38.ensembl_exons_merged.bed.gz
data/annotation/hg38.ensembl_genes.bed.gz
data/annotation/hg38.ensembl_introns.bed.gz
data/annotation/hg38.ensembl_introns_conservative.bed.gz
data/annotation/hg38.ensembl_promoters_2kb.bed.gz
data/annotation/hg38.ensembl_utrs.bed.gz
data/annotation/hg38.fa.gz
data/annotation/hg38.ncbiRefSeq.gtf.gz
data/annotation/hg38.ncbiRefSeq_cds.bed.gz
data/annotation/hg38.ncbiRefSeq_exons.bed.gz
data/annotation/hg38.phyloP30way.bw
data/annotation/hg38.phyloP30way.npz
data/annotation/hg38.regulatory.bed.gz
data/annotation/hg38_100kb.bed
data/annotation/hg38_centro.bed
data/annotation/hg38_centro_slop.bed
data/annotation/hg38_chr10_seqlens.tsv
data/annotation/hg38_seqlens.tsv
data/annotation/homo_sapiens.GRCh38.Regulatory_Build.regulatory_features.20220822.gff.gz
data/annotation/merged_utrs_cds_introns.bed.gz
data/annotation/merged_utrs_cds_introns_phastcons.bed.gz
data/annotation/merged_utrs_cds_introns_phastcons_chr10.bed
data/annotation/merged_utrs_cds_introns_phastcons_unlabelled.bed.gz
data/annotation/merged_utrs_cds_introns_unlabelled.bed.gz
data/annotation/neutral_phastcons.bed
data/annotation/neutral_phastcons_chr10.bed
data/annotation/neutral_phastcons_chr10.bed.gz
data/annotation/neutral_phastcons_exons_thresh0_chr10.bed.gz
data/annotation/neutral_phastcons_genes.bed.gz
data/annotation/neutral_phastcons_genes_chr10.bed
data/annotation/neutral_phastcons_genes_with_introns.bed.gz
data/annotation/neutral_phastcons_thresh0_chr10.bed.gz
data/annotation/neutral_phastcons_thresh0_slop1k_chr10.bed.gz
data/annotation/no_centro.bed
data/annotation/phastConsElements100way.bed.gz
data/annotation/phastConsElements100way.txt.gz
data/annotation/phastConsElements100way_filtered.bed.gz
data/annotation/phastConsElements100way_thresh0.bed.gz
data/annotation/phastConsElements100way_thresh0_slop1k.bed.gz
data/annotation/phastConsElements100way_thresh10.bed.gz
data/annotation/phastConsElements100way_thresh471.bed.gz
data/annotation/phastConsElements100way_thresh471_slop1k.bed.gz
data/annotation/phastConsElements100way_thresh5.bed.gz
data/annotation/phastConsElements100way_thresh527.bed.gz
data/annotation/phastConsElements100way_thresh527_slop1k.bed.gz
data/annotation/phastConsElements100way_thresh5_slop1k.bed.gz
data/bmaps/bgspy/bmap_hg37_fullsel_10000step_10000N_cds_utrs_phastcons.pkl
data/bmaps/bgspy/bmap_hg37_ratchet_10000step_10000N_cds_utrs_phastcons.pkl
data/bmaps/bgspy/bmap_hg38_6x7grid_10000step_10000N_cds_utrs_phastcons.pkl
data/bmaps/bgspy/bmap_hg38_6x7grid_10000step_10000N_cds_utrs_phastcons_full.pkl
data/bmaps/bgspy/bmap_hg38_6x7grid_10000step_10000N_cds_utrs_phastcons_merged.pkl
data/bmaps/bgspy/bmap_hg38_6x7grid_10000step_10000N_cds_utrs_regulatory_phastcons.pkl
data/bmaps/bgspy/bmap_hg38_sims_10000step_chr10.pkl
data/bmaps/bgspy/bmap_hg38_sims_6x7grid_10000step_chr10.pkl
data/bmaps/bgspy/bmap_rescaled_hg38_6x7grid_10000step_10000N_cds_utrs_phastcons.pkl
data/bmaps/bgspy/bmap_rescaled_hg38_6x7grid_10000step_10000N_cds_utrs_phastcons_bins.pkl
data/bmaps/bgspy/logs/
data/bmaps/bgspy/old/
data/bmaps/bgspy/old_good/
data/bmaps/bgspy/rescaled_grid/
data/bmaps/bgspy/snakemake_runner.sh
data/h1kg/dragen_1kg_genotypes
fits/current/
fits/hg38_cds_utrs_phastcons_fixed/
fits/hg38_cds_utrs_phastcons_free/
fits/hg38_cds_utrs_phastcons_full_free/
fits/hg38_cds_utrs_phastcons_simplex/
fits/hg38_cds_utrs_phastcons_simplex_500/
fits/hg38_cds_utrs_phastcons_simplex_rescaled/
fits/logs/
fits/old/
likclib.cpython-39-x86_64-linux-gnu.so
msprime_sims/logs/
msprime_sims/segment_logL_logrbp_logrf.json
msprime_sims/segment_logL_logrbp_logrf_wide_reject.json
msprime_sims/segment_logL_logrbp_logrf_wide_reject_replicated.json
msprime_sims/segment_logL_logrbp_logrf_wide_replicated.json
msprime_sims/segment_log_mu.json
notebooks/.ipynb_checkpoints/
optimization_tests/
slim_sims/chrombgs/logs/
slim_sims/chrombgs/oldlogs/
slim_sims/chrombgs_features/chrombgs_chr10_cds_utrs_phastcons_N37k.json
slim_sims/chrombgs_features/chrombgs_features_rescale.slim
slim_sims/chrombgs_features/logs/
slim_sims/chrombgs_features/regul_dfe.tsv
slim_sims/logs/
slim_sims/region/logs/
slim_sims/region/region_results.pkl
slim_sims/region/region_stats.pkl
slim_sims/segment/

