initialize() {
  source("../utils.slim");
  initializeTreeSeq();

  defineConstant("seed", getSeed());
  defineConstant("metadata", Dictionary());

  // We fix h = 0.5 and calculate the proper homozygous selection
  // coefficient.
  defineConstant("h", 0.5);

  // == Runtime settings
  defineConstant("duration", 100*N);

  // ----- mutation rate -----
  initializeMutationRate(mu);

  // main genome/mutation/recombination/DFE setup
  chrom_length = get_chrom_length(seqlens_file, chrom);
  dfe = load_tsv_dfe(dfe_file);
  initialize_genome_dfe(annot_file, dfe, h, chrom);
  load_recmap(recmap_file, chrom, chrom_length);
}

// create a population of 500 individuals
1 {
  sim.addSubpop("p1", N);
  sim.rescheduleScriptBlock(s1, start=2, end=duration);
  sim.rescheduleScriptBlock(s2, start=duration, end=duration);
}

s1 early() {
  if (sim.generation % 1000 == 0) 
    print(sim.generation);
}

s2 late() {
  //output_mutations(chr, dac_file, p1);
  //sim.treeSeqOutput(treeseq_file, metadata=metadata);
  //output_substitutions(chr, sub_file, p1);
}

