// expected command line arguments:
// - name: a name that identifies the dfe/annot/recmap since
// - treeseq_file: output tree file
// - N: diploid popsize
// - duration: duration of sims in N generations
// - mu: per-basepair-per generation mutation rate 
// - dfe_file: a tab-delimited DFE specification
// - annot_file: BED file of regions, 4th col matches DFE names
// - recmap_file: HapMap-formatted recombination map
// - seqlens_file: TSV file of chromosome names and lengths
// - chrom: the chromosome to simulate
// - rep: replicate number
initialize() {
  source("../utils.slim");
  initializeTreeSeq();

  defineConstant("seed", getSeed());
  defineConstant("metadata", Dictionary());

  // ----- run settings -----
  defineConstant("endgen", duration*N);

  // ----- mutation rate -----
  initializeMutationRate(mu);

  // ----- main sim setup -----
  // main genome/mutation/recombination/DFE setup
  chrom_length = get_chrom_length(seqlens_file, chrom);
  is_fixed = F;
  if (exists('dfe_file')) {
    assert(!exists('sh'), "sh cannot also be set if dfe_file is used");
    dfe = load_tsv_dfe(dfe_file);
    initialize_genome_dfe(annot_file, dfe, h, chrom);
  } else {
    // fixed DFE everywhere
    initialize_genome_sh(annot_file, sh, h, chrom);
    is_fixed = T;
    assert(!exists('dfe_file'), "dfe_file cannot also be set if sh is used");
    dfe = Dictionary("grid", sh, "fixed", 1);
    dfe_file = NULL;
  }
  load_recmap(recmap_file, chrom, chrom_length);

  // ----- file setup -----
  // all output filenames are passed into the dispatcher

  // ----- metadata -----
  metadata.setValue("name", name);
  metadata.setValue("N", N);
  metadata.setValue("h", h);
  metadata.setValue("mu", mu);
  if (is_fixed) {
    metadata.setValue("sh", sh);
  }
  metadata.setValue("dfe", dfe);
  metadata.setValue("chrom", chrom);
  metadata.setValue("chrom_length", chrom_length);
  metadata.setValue("seqlens_file", seqlens_file);
  metadata.setValue("recmap_file", recmap_file);
  metadata.setValue("annot_file", annot_file);
  metadata.setValue("dfe_file", dfe_file);
}

1 early() {
  sim.addSubpop("p1", N); 
  community.rescheduleScriptBlock(s1, start=2, end=duration*N);
  community.rescheduleScriptBlock(s2, start=duration*N, end=duration*N);
}

s1 early() {
  if (sim.cycle % 100 == 0) 
    print(sim.cycle);
}

s2 late() {
  // write the output tree sequence and substitutions TSV
  // note: uncomment line below to include dubs. This is very disk-intensive though.
  // and estimates of the subsitution rate are hard to get over such short timescales
  //metadata.setValue("subs", substitution_dict());
  sim.treeSeqOutput(treeseq_file, metadata=metadata);
  //output_substitutions(chrom, sub_file, p1);
}
